/**
* 	@author: Vehbi AKDOGAN
* 	@mail: mf.leqelyy@gmail.com || info@vehbiakdogan.com
* 	@website: vehbiakdogan.com
* 	@office: ajansorkestra.com
*/
@font-face {
    font-family: 'fonts';
    src: url('font/MONOPOL MEDIUM-webfont.eot');
    src: url('font/MONOPOL MEDIUM-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/MONOPOL MEDIUM-webfont.woff2') format('woff2'),
         url('font/MONOPOL MEDIUM-webfont.woff') format('woff'),
         url('font/MONOPOL MEDIUM-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
*,body {
	padding:0;
	border:0;
	margin:0;
	font-family: 'fonts';
	font-weight: normal;
}
body {
	background: #c9c8c8;
}
a,img {
	border:0;
	text-decoration:none;
}
ul {
	padding:0;
	margin:0;
}
ul li {
	list-style:none;
}
.temizle {
	clear:both;
}
.ortala {
	width:1000px;
	margin:0 auto;
}
header {
	background: #dd5136; 
	width:100%;
	height: 145px;
	line-height: 145px;
	  overflow: hidden;
}
section {
	display:block;
}
.logo {
	float:left;
}
ul.menu {
	float:left;
	margin-left:85px;
	margin-top:52px;
}
ul.menu li {
	float:left;
	background: url('images/menu_bg.png') center center no-repeat;
	width:187px;
	height: 41px;
	line-height: 41px;
	-webkit-transition: .3s all linear;
	-moz-transition: .3s all linear;
	-o-transition: .3s all linear;
	transition: .3s all linear;
}
ul.menu li:hover,ul.menu li.aktif {
	background: url('images/menu_hover_bg.png') center center no-repeat;
}
ul.menu li a {
	display:block;
	widtH:100%;
	height: 100%;
	text-align: center;
	color:#fff;
	font-size: 21px;
}
ul.slider {
	width:1000px;
	height: 350px;
	overflow: hidden;
	display:block;
}
.fake {
	position: absolute;
	top:0;
	left:0;
}
.kutumini, .kutubuyuk {
	float:left;
	margin-top:35px;
	margin-left:22px;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	background: #fff;
	height: 335px;
	 
}
.kutumini {
	width:225px;
	
}
.baslik {
	width:100%;
	height: 35px;
	line-height: 35px;
	background: #dd5136; 
	color:#fff;
	font-size: 21px;
	display:block;
	
}
.baslik:before {
	content:'';
	width:5px;
	height: 15px;
	background: #af361f;
	float:left;
	margin-right: 4px;
	margin-left:7px;
	margin-top:10px;
}
.icerik {
	widtH:100%;
	padding:8px;
	margin-top:14px;
}
ul.duyuru li {
	background: #c9c8c8;
	color:#2f2e2e;
	font-size: 18px;
	padding:6px;
	width:197px;
	margin-bottom:5px;
}
ul.duyuru li:hover {
	color:#fff;
	background: #dd5136;
}
.oklar {
	float:right;
	background: url('images/oklar.png') no-repeat;
	width:13px;
	height: 18px;
	margin:10px;
}
.oklar a {
	width:100%;
	height: 9px;
	display:block;
}
ul.gelisme li {
	display:block;
	padding:3px;
	width: 204px;
	border-radius: 5px;
	font-size: 17px;
	border:1px solid #dd5136;
	overflow: hidden;
	margin-bottom:4px; 
}
ul.gelisme li:hover {
	border-color:#2f2e2e;
}
ul.gelisme li img {
	float:left;
	border-radius: 5px;
}
ul.gelisme li p {
	float:left;
	margin-left:13px;
	width:145px;
}
.kutubuyuk {
	width:470px;
}
ul.video {
	margin-left:-3px;
}
ul.video li {
	float:left;
	width:103px;
	height: 125px;
	border-radius: 5px;
	overflow: hidden;
	border:3px solid #dd5136;
	margin-left:6px;
	margin-bottom:6px;
}
ul.video li a {
	width:100%;
	height: 100%;
	display:block;
	position: relative;
}
ul.video li a:before {
	content:'';
	position: absolute;
	top:50%;
	left:50%;
	background: url('images/play.png') no-repeat;
	width:60px;
	height:60px;
	margin-left:-30px;
	margin-top:-30px;
	transition: .3s all linear;
	-webkit-transition: .3s all linear;
	-moz-transition: .3s all linear;
	-o-transition: .3s all linear;
}
ul.video li a:hover:before {
	background: url('images/play_hover.png') no-repeat;
} 
.anasayfa {
	position: relative;
	overflow: hidden;
	padding-bottom:15px;
}
footer {
	background: #2f2e2e;
	width:100%;
	margin-top:20px;
	height: 130px;
	overflow: hidden;
}
footer p {
	float:left;
	font-weight: bold;
	font-size: 16px;
	color:#595959;
	margin-left:128px;
	margin-top:70px;
	letter-spacing: 2px;
}
.social {
	float:right;
	width:168px;
	height: 38px;
	margin-top:60px;
	margin-left:17px;
}
.social a {
	float:left;
	display:block;
	width:39px;
	height: 100%;
	margin-lefT:5px;
	background: url('images/social.png') no-repeat;
	transition: .3s all linear;
	-webkit-transition: .3s all linear;
	-moz-transition: .3s all linear;
	-o-transition: .3s all linear;
}
.social a:hover {
	background:url('images/social_hover.png') no-repeat;
}
.social a:first-child {
	margin-left:0;
	background-position: 0 0;
}
.social a:nth-child(2) {
	margin-left:0;
	  background-position: -42px 0;
}.social a:nth-child(3) {
	margin-left:0;
	  background-position: -84px 0;
}.social a:nth-child(2) {
	margin-left:0;
	  background-position: -126px 0;
}
/* bilgisayar nedir sayfası css */

.sol {
	width:235px;
	float:left;
	height: auto;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 0 10px #000;
	border-radius: 5px;
	padding-bottom: 10px;
}
.sol .baslik {
	background: #2f2e2e;
	color:#fff;
}
.sol .baslik:before {
	background: #141313;
}
.sol ul {
	width:225px;
	margin:0 auto;
}
.sol ul li {
	display:block;
	width:215px;
	height: 26px;
	line-height: 26px;
	color:#2f2e2e;
	font-size: 15px;
	margin-top:5px;
}
.sol ul li a {
	padding:0 5px;
	width:100%;
	height: 100%;
	display:block;
	color:#2f2e2e;
	font-size: 16px;
	letter-spacing:1px;
	background: #c9c8c8;
	font-weight: bold;
	border-radius: 5px;
}
.sol ul li a:after {
	content:'>';
	float: right;
	font-size: 22px;
	color:#2f2e2e;
}
.sol ul li a:hover ,.sol ul li a.aktif ,.sol ul li a:hover:after, .sol ul li a.aktif:after{
	background: #dd5136;
	color:#fff;
}
section.icsayfa {
	margin-top:25px;
	margin-bottom:25px;
	overflow: hidden;
}
.sag {
	margin-left:30px;
	width: 735px;
	float:left;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 0 10px #000;
	border-radius: 5px;
}
.bresim1 {
	border:4px solid #2f2e2e;
	margin-left:22px;
}
.icerik2 {
	padding:10px;
}
.icerik2 p {
	display:block;
	font:12px arial;
	color:#2f2e2e;
	margin-top:10px;
}
.icerik2 p b {
	font: inherit;
	color:#dd5136;
	font-weight: bold
}
.icerik2 h2 {
	color:#dd5136;
	font-size: 18px;
	font-family: arial;
	margin-top:10px;
}